
.container-topfilms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   margin: 20px 50px;
}
.container-topfilms img {
	-webkit-box-reflect: below 5px
		linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.container-topfilms img:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}


/* //////////////// Upcoming ///////////////// */

    .accordion {
        width: 1000px; height: 300px;
        overflow: hidden;
        margin: 50px auto;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
      }
      
      .accordion ul {
        width: 2000px;
      }
      
      .accordion li {
        position: relative;
        display: block;
        width: 160px;
        float: left;
        border-left: 1px solid #888;
        box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
        transition: all 0.5s;
        height: 400px;

      }
      
      .accordion ul:hover li {width: 40px;}
      .accordion ul li:hover {width: 500px;}
      .accordion li img {
        display: block;
      }
      
      .image_title {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0; bottom: 0;  
        width: 500px; 
        height: 400px;

      }
      .image_title a {
        display: block;
        text-align: center; 
        color: #ccbaba;
        text-decoration: none;
        padding: 20px;
        font-size: 30px;
        background-color: #ccbaba4d;
      }
  
      
     

/* /////////////// Trending ////////////////// */


.link{
  display: block;
  text-align: center;
  color: #777;
  text-decoration: none;
  padding: 10px;
}

.movie_card{
  position: relative;
  display: block;
  width: 1500px;
  height: 350px;
  margin: 80px auto; 
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
}
.movie_card:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0,0,0, 0.5);
    transition: all 0.4s;
  }
  .info_section{
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
  }
  .movie_header{
      position: relative;
      padding: 25px;
      height: 40%;
  }
  .movie_header  h1{
        color: black;
        font-weight: 400;
      }
      .movie_header  h4{
        color: #555;
        font-weight: 400;
      }
      .minutes{
        display: inline-block;
        margin-top: 15px;
        color: #555;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.05);
      }
      .type{
        display: inline-block;
        color: #959595;
        margin-left: 10px;
      }
      .locandina{
        position: relative;
        float: left;
        margin-right: 20px;
        height: 150px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
 
    .movie_desc{
      padding: 25px;
      height: auto;
    }
     .movie-decs-text{
        color: #545454;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; 
        line-height: 1.2em; 
      }
    
   .row-min-year{
    display: inline;
    padding-left: 20px;
    padding-bottom: 10px;
   }

  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 11px;
  }


@media screen and (min-width: 768px) {
  .movie_header{
    width: 65%;
  }
  
  .movie_desc{
    width: 50%;
  }
  
  .info_section{
    background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
  }
  
  .blur_back{
    width: 80%;
    background-position: -100% 10% !important;  
  }
}

@media screen and (max-width: 768px) {
  .movie_card{
    width: 95%;
    margin: 70px auto; 
    min-height: 350px;
    height: auto;
  }
  
  .blur_back{
    width: 100%;
    background-position: 50% 50% !important;  
  }
  
  .movie_header{
    width: 100%;
    margin-top: 85px;
  }
  
  .movie_desc{
    width: 100%;
  }
  
  .info_section{
    background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
    display: inline-grid;
  }
}


/* //////////////movies by genre/////////////////// */

.container-movies-by-genre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
 margin: 20px 50px;
}

.container-movies-by-genre img {
-webkit-box-reflect: below 5px
  linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
-webkit-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
margin-bottom: 30px;
margin-right: 5px;
}

.container-movies-by-genre img:hover {
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}

/* ///////////////////////movie modal/////////////////// */

.movie-card a {
  text-decoration: none;
  color: #5C7FB8
}

.movie-card a:hover {
  text-decoration: underline;
}

.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-modal {
  margin: 0 auto;
  width: 780px;
  height: 640px;
  background: #efefea;
  border-radius: 5px;
  position: relative;
}

.hero {
  height: 342px;  
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: no-repeat;
  background-size: cover;
} 

.hero:before {
  content:'';
  width:100%; height:100%;
  position:absolute;
  overflow: hidden;
  top:0; left:0;
  background-image: no-repeat;
  background-size: cover;
  z-index:-1;
 
  
}

.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;
}

.details {
  
  padding: 190px 0 0 280px; 
 
  }

  .title1 {
    color: white;
    font-size: 44px;
    margin-bottom: 13px;
    position: relative;
    margin-bottom: 10px;
    line-height: 1.2;
    background-color: #ccbaba70;
    text-align: center;
  }


   
  .rating{
    background-color: rgba(255, 255, 0, 0.758);
    border-radius: 10%;
    padding: 5px 10px;
    color: black;
  }

  
  .likes {
    margin-left: 24px;
  }
  
  
  .likes:before {
    content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
    position: relative;
    top: 2px;
    padding-right: 7px;
  }


.description {
  
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column1 {
  margin-top: 10px;
  padding-left: 50px;
  padding-top: 120px;
  width: 220px;
  float: left;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 20px;
  width: 480px;
  float: left;
}

